
.image-container {
    overflow: hidden; /* Pour cacher le contenu débordant */
    width: 300px; /* Ajustez cette valeur selon la taille désirée de la zone de l'image */
    height: 200px; /* Ajustez cette valeur selon la taille désirée de la zone de l'image */
  }
  
  .image-container img {
    width: 100%; /* Pour s'assurer que l'image occupe tout l'espace de l'image-container */
    height: auto;
    transition: transform 0.3s ease; /* Ajout de la transition pour une animation fluide */
  }
  
  .image-container img:hover {
    transform: scale(1.2); /* Appliquer un facteur d'échelle agrandi sur l'image au survol */
    /* Vous pouvez ajuster la valeur (1.2 dans cet exemple) pour contrôler l'intensité du zoom */
  }
  